<div class="container" style="padding-top: 10vh">
  <header class="text-center mb-4">
    <h1 style="color: white; font-weight: bold">
      {{ selectedCv?.name }}
    </h1>
    <hr />
    <p class="lead">
      {{ selectedCv?.profile }}
    </p>
  </header>

  <section class="contact-info mb-4">
    <h2>Contacto</h2>
    <p style="color: white">
      Email:
      <a href="mailto:correo@ejemplo.com" style="color: white">
        {{ selectedCv?.contact?.email }}</a
      >
    </p>
    <p style="color: white" style="color: white">
      Teléfono: {{ selectedCv?.contact?.phone }}
    </p>
    <p style="color: white">
      LinkedIn:
      <a
        href="https://linkedin.com/in/juanperez"
        target="_blank"
        style="color: white"
        >{{ selectedCv?.contact?.linkedin }}</a
      >
    </p>
  </section>

  <section class="experience mb-4">
    <h2>Experiencia</h2>
    @for (item of selectedCv?.experience; track $index) {
    <div class="experience-item mb-3">
      <h3>{{ item.title }}</h3>
      <p style="color: white"><strong>Empresa:</strong> {{ item.company }}</p>
      <p style="color: white">
        <strong>Periodo:</strong>{{ item.startDate }}- {{ item.endDate }}
      </p>
      <ul>
        @for (item1 of item.responsibilities; track $index) {
        <li style="color: white">{{ item1 }}</li>
        }
      </ul>
    </div>
    }
  </section>

  <section class="education mb-4">
    <h2>Educación</h2>
    <p><strong>Título:</strong> {{ selectedCv?.education?.degree }}</p>
    <p><strong>Institución:</strong>{{ selectedCv?.education?.institution }}</p>
    <p>
      <strong>Año de Graduación:</strong>
      {{ selectedCv?.education?.graduationYear }}
    </p>
  </section>

  <section class="skills mb-4">
    <h2>Habilidades</h2>
    <ul class="list-inline">
      @for (item of selectedCv?.skills; track $index) {
      <li class="list-inline-item" style="color: white">{{ item }}</li>
      }
    </ul>
  </section>

  <section class="certifications mb-4">
    <h2>Certificaciones</h2>
    @for (item of selectedCv?.certifications; track $index) {
    <div class="certification-item mb-3">
      <h3>{{ item.title }}</h3>
      <p><strong>Institución:</strong> {{ item.institution }}</p>
      <p><strong>Año:</strong> {{ item.year }}</p>
    </div>
    }
  </section>

  <section class="languages mb-4">
    <h2>Idiomas</h2>
    @for (item of selectedCv?.languages; track $index) {
    <div class="language-item mb-3">
      <p><strong>Idioma:</strong> {{ item.language }}</p>
      <p><strong>Nivel:</strong>{{ item.level }}</p>
    </div>
    }
  </section>
</div>
