<div class="container" style="padding-top: 10vh">
  <header class="text-center mb-4">
    <h1 style="color: white; font-weight: bold">
      {{ selectedCv?.nombre }}
    </h1>
    <hr />
    <h4>
      {{ selectedCv?.descripcion }}
    </h4>
  </header>

  <div class="contact-section">
    <div class="contact-image">
      <img src="{{ selectedCv?.image }}" alt="Foto de contacto" />
    </div>
    <div class="contact-info">
      <h2>Contacto</h2>
      <p style="color: white">
        Email:
        <a href="mailto:correo@ejemplo.com" style="color: white">
          {{ selectedCv?.email }}</a
        >
      </p>
      <p style="color: white">Teléfono: {{ selectedCv?.telefono }}</p>
    </div>
    <section class="education mb-4">
      <h2>Educación</h2>
      <p><strong>Carrera:</strong> {{ selectedCv?.carrera }}</p>
      <p><strong>Institución:</strong>{{ selectedCv?.universidad }}</p>
    </section>

    <section class="languages mb-4">
      <h2>Tecnologias:</h2>

      <h5>
        {{ selectedCv?.tecnologias }}
      </h5>
    </section>
  </div>
</div>
