<nav
  class="navbar-top navbar navbar-expand-lg navbar-dark"
  style="position: fixed; width: 100%; z-index: 999"
>
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarTogglerDemo03"
      aria-controls="navbarTogglerDemo03"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#"
      ><img
        src="./assets/img/logo.svg"
        alt=""
        width="30px"
        style="
          object-fit: contain;
          width: 35px;
          height: 35px;
          border-radius: 35px;
          background: white;
        "
    /></a>
    <div
      class="collapse navbar-collapse justify-content-end"
      id="navbarTogglerDemo03"
    >
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            style="color: white"
            [href]="['#section-nosotros']"
            >Nosotros</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            style="color: white"
            [href]="['#section-servicios']"
            >Servicios</a
          >
        </li>
        <li>
          <a
            class="nav-link"
            style="color: white"
            [href]="['/profesionales']"
            aria-current="page"
          >
            Profesionales
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            style="color: white"
            href="#section-contacto"
            >Contacto</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
<div style="margin-left: 60px; margin-right: 60px">
  <router-outlet></router-outlet>
</div>
<!-- Routed components go here -->
