<div style="height: 90vh">
  <div class="text-center" style="padding-top: 10vh">
    <h1>Creadores</h1>
  </div>
  <hr />
  <div class="FlexContainer">
    @for (pro of cvData; track $index) {
    <div
      class="card m-3"
      style="width: 18rem; background: var(--main-background-inverse)"
    >
      <img [src]="pro.image" class="card-img-top" alt="..." />
      <div class="card-body">
        <h2>
          {{ pro.nombre }}
        </h2>
        <h5>
          {{ pro.carrera }}
        </h5>
      </div>
    </div>
    }
  </div>
</div>
