<!-- <div
  id="section-nosotros"
  class="home"
  data-color="blue"
  style="height: 100vh; align-content: center"
> -->
<div
  id="section-nosotros"
  class="container"
  id="section-nosotros"
  style="padding-top: 10vh; height: 100vh; align-content: center"
>
  <div class="parallax filter-gradient" data-color="blue">
    <div class="container">
      <div class="row align-items-start">
        <div class="col-md-7">
          <div class="parallax-image blob">
            <img src="./assets/img/new_logo.png" />
          </div>
        </div>
        <div
          class="col-md-5 is-align-self-center"
          style="height: 50vh; align-content: center"
        >
          <div class="description text-center">
            <h2><b> SC.IA Ingeniería Aplicada</b></h2>
            <br />
            <h5>
              <strong>SC.IA </strong> Ingeniería Aplicada es una empresa
              especializada en la integración y aplicación de tecnologías
              avanzadas de ingeniería para mejorar la eficiencia, productividad
              y calidad en diversos sectores industriales.
            </h5>
            <!--div class="buttons">
                                <a href="http://www.creative-tim.com/product/awesome-landing-page" class="btn btn-fill btn-neutral">
                                <i class="fa fa-download"></i> Download
                                </a>
                            </!--div-->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<h1 style="text-align: center; padding-top: 10vh" id="section-servicios">
  <b>Servicios</b>
</h1>
<div
  id="carouselExampleControls"
  class="carousel slide"
  data-bs-ride="carousel"
  style="
    background: var(--main-background-inverse);
    height: 80vh;
    border-radius: 20px;
  "
>
  <div class="carousel-inner" style="padding-top: 40px">
    <div class="carousel-item active">
      <div class="item active">
        <div class="micard">
          <div class="container">
            <div class="row">
              <div class="col-5" style="font-family: Bogart Regular serif">
                <h4 class="header-text">
                  <strong> Instalación de StarLink y Red local </strong>
                </h4>
                <h4>
                  La propuesta comercial de Starlink se ha visto beneficiada por
                  una rápida expansión geográfica y diversos acuerdos con
                  entidades públicas y privadas.
                </h4>
                <h4>
                  Tiene operaciones en cerca de 75 países y regiones en todo el
                  globo. En mayo pasado, reportó 2.7 millones de suscriptores.
                  En SC IA en Bolivia te contamos todo lo que debes saber sobre
                  Starlink.
                </h4>
              </div>
              <div class="col-7" style="align-content: center">
                <img src="assets/img/home_6.jpg" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="item active">
        <div class="micard" style="height: 80vh">
          <div class="container">
            <div class="row" style="overflow: hidden">
              <div class="col-5">
                <h4 class="header-text">
                  <strong>
                    Servicios de la NAS: comoDropbox, comoPlex.tv
                  </strong>
                </h4>
                <p>
                  Los servicios de NAS (Network Attached Storage) proporcionan
                  almacenamiento de datos centralizado y accesible a través de
                  una red.
                </p>
                <p>
                  Estos servicios ofrecen funcionalidades similares a las de
                  servicios en la nube como Dropbox y aplicaciones de medios
                  como Plex.tv.
                </p>
              </div>
              <div class="col-7">
                <img src="assets/img/home_4.jpg" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleControls"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleControls"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<!-- dfffs-------------- -->

<h1 style="text-align: center; padding-top: 10vh" id="section-contacto">
  <b>Contacto</b>
</h1>
<section id="contacto-section" style="height: 90vh" class="flex-container">
  <div
    class="micontacto"
    style="
      background: var(--main-background-inverse);
      border-radius: 20px;
      max-height: 70vh;
      object-fit: contain;
    "
  >
    <h1 style="text-align: center">Informacion</h1>
    <span style="text-align: center">
      <p>
        <b>Contactanos</b>, deseas más información sobre nuestros productos y
        servicios
      </p>
      <p>
        No dudes en solicitar una consultoría gratuita y uno de nuestros
        asesores te contactará.
      </p>
    </span>
    <h5><b> Contactanos via whatsapp </b></h5>

    <p>+591 75657466</p>
    <a href="https://wa.me/5478476" target="_blank">
      <img src="assets/img/whatsapp.png" alt="WhatsApp" height="50px" />
    </a>

    <i style="color: #574858" class="fab fa-whatsapp"></i>
    <div>
      <a
        href="https://wa.me/54912345678?text=Me%20interesa%20sus%20capacitaciones"
        class="btn m-1"
        style="background: #2d9596; color: white"
        target="_blank"
        >Me interesa sus capacitaciones</a
      >

      <!-- Botón para talleres -->
      <a
        href="https://wa.me/54912345678?text=Me%20interesa%20sus%20talleres"
        class="btn m-1"
        style="background: #2d9596; color: white"
        target="_blank"
        >Me interesa sus talleres</a
      >

      <!-- Botón para servicios -->
      <a
        href="https://wa.me/54912345678?text=Me%20interesa%20sus%20servicios"
        class="btn m-1"
        style="background: #2d9596; color: white"
        target="_blank"
        >Me interesa sus servicios</a
      >
    </div>
  </div>
  <div class="map-container" style="padding: 40px">
    <iframe
      style="border-radius: 20px; min-width: 300px"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3799.398586674936!2d-63.178973899999995!3d-17.7729549!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x93f1e7ce01ec5a5b%3A0x533962396acb9f49!2sVia%20Santa%20Cruz%20-%20Tienda!5e0!3m2!1ses-419!2sbo!4v1721057406902!5m2!1ses-419!2sbo"
      width="550"
      height="300px"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
    <p>
      <b>Ubicación:</b> Nos ubicamos en el centro de la ciudad, primer anillo,
      C/ Quijaro-N° 76
    </p>
  </div>
</section>

<div class="section section-no-padding">
  <div class="parallax filter-gradient blue" data-color="blue">
    <div class="parallax-background">
      <!--  -->
      <img
        src="./assets/img/new_logo.jpg"
        width="300px"
        class="parallax-background-image"
      />
    </div>
  </div>
</div>
<footer class="footer" style="background: #265073; bottom: 0px; z-index: 999">
  <div class="container">
    <nav class="pull-left"></nav>
    <div class="social-area pull-right">
      <a class="btn btn-social btn-facebook btn-simple">
        <i class="fa fa-facebook-square"></i>
      </a>
      <a class="btn btn-social btn-twitter btn-simple">
        <i class="fa fa-twitter"></i>
      </a>
      <a class="btn btn-social btn-pinterest btn-simple">
        <i class="fa fa-pinterest"></i>
      </a>
    </div>
    <div class="copyright text-center" style="color: white">
      &copy; 2024 Creado por el grupo de SC.IA-Ingenieria Aplicada
    </div>
  </div>
</footer>
